.content .prompt-highlight {
  font-family: "Bad Script", "Karla", serif;
  font-size: 1.5em;
  @apply font-normal;
}

.content > .word-wrapper {
  @apply -mt-6;
}

.content .word {
  @apply leading-relaxed;
  font-size: 2.75em;

  @apply font-bold;
  color: inherit;
  text-decoration-style: dashed;
  text-decoration-color: #d1caca;

  @apply underline;
  @apply lowercase;

  transition: 0.2s text-decoration-color ease;
}
.content .word:hover,
.content .word:focus,
.content .word:active {
  border-bottom-color: transparent;
  text-decoration-color: inherit;
}
