body.dark {
  color: var(--primary-text);
}

.dark footer {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dark summary {
  @apply font-bold;
}

.dark details {
  @apply bg-indigo-500;
  @apply text-white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
